.image {
  border-radius: 10%;
}

.img-container {
  position: relative;
  transition: .5s ease-in-out;
}

body {
  font-family: 'Roboto Slab', serif;
  background-color: #9CC0E7;
  color: #EEEEEE;
}

.img-thumbnail{
  transition: .5s ease-in-out;
}

.int-overlay {
  position: absolute;
  text-align: center;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5% 10%;
  opacity: 0;
  transition: .5s ease-in-out;
  font-size: 1.75vw;
  overflow-y: scroll;
}

.carousel-item:hover .int-overlay {
  opacity: 100%;
}

.carousel-item:hover .img-thumbnail {
  opacity: .3;
}

.carousel-item:hover .img-container {
  background-color: black;
}





